<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ui-demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{../style.css}"/>
    <link th:rel="stylesheet" th:href="@{../webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{../webjars/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{../webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{../webjars/font-awesome/css/all.css} "/>
    <script th:src="@{../webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{../webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{../webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{../webjars/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

    <script>
         $(function() {
            $("#datepicker").datepicker({
                "autoclose": true,
                "format": "dd.mm.yyyy",
                "todayHighlight": true
            });
         });


    </script>

</head>
<body>
<div class="jumbotron text-center">
    <h1>Hello!</h1>
    <p th:text="'Welcome to ' + ${appName} + '.'"/>
</div>

<div class="container">
    <div class="row">

        <form action="#" th:action="@{/ui/start}" th:object="${content}" method="post">
            <legend th:text="#{example.input_and_form}"/>
            <fieldset class="border px-2 py-2">
                    <input class="mt-2" type="text" th:field="*{key}" placeholder="key"/>
                    <span th:if="${#fields.hasErrors('key')}" th:errors="*{key}">Key Error</span>
                    <br/>
                    <input class="my-1" type="text" th:field="*{value}" placeholder="value" th:errorclass="field-error"/>
                    <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}" th:errorclass="field-error">Value Error</span>
                    <br/>
                    <input class="mb-2" type="text" id="datepicker" th:field="*{date}" placeholder="click for datepicker">
                    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" th:errorclass="field-error">Value Error</span>
            </fieldset>

            <button class="mt-2 btn btn-primary" type="submit" name="start" th:text="#{startButtonLabel}"/>
        </form>
        <hr/>
        <legend class = "my-1"  th:text="#{example.download_button}"/>
        <form id="download" action="#" th:action="@{/ui/download}" method="post">
        </form>
        <button class=" mt2 btn btn-primary" form="download" th:text="#{download}"/>
    </div>
</div>
</body>
</html>